@page
@model DZ_240103_Films_RazorPages.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Film.Id" />
            <div class="form-group">
                <label asp-for="Film.Name" class="control-label"></label>
                <input asp-for="Film.Name" class="form-control" />
                <span asp-validation-for="Film.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Director" class="control-label"></label>
                <input asp-for="Film.Director" class="form-control" />
                <span asp-validation-for="Film.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.ReleaseYear" class="control-label"></label>
                <input asp-for="Film.ReleaseYear" class="form-control" />
                <span asp-validation-for="Film.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Genre" class="control-label"></label>
                <input asp-for="Film.Genre" class="form-control" />
                <span asp-validation-for="Film.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="PosterFile" asp-for="PosterFile" required />
            </div>
            <div class="form-group">
                <label asp-for="Film.Description" class="control-label"></label>
                <input asp-for="Film.Description" class="form-control" />
                <span asp-validation-for="Film.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
